{{#> Wrapper }}
    <div class="password-edit-page__wrapper">
        {{> Avatar }}
        <div class="password-edit-page__name">Селестия</div>
        <form class="password-edit-page__data">
            {{> ProfileField className="login-page__input" title="Старый пароль" name="oldPassword" value="123123" type="password" }}
            {{> ProfileField className="login-page__input" title="Новый пароль" name="newPassword" value="qwerty" type="password" }}
            {{> ProfileField className="login-page__input" title="Повторите новый пароль" name="confirmNewPassword" value="qwerty" type="password" }}
        </form>
        {{> Button text="Сохранить" page="profile" }}
    </div>
{{/ Wrapper }}
