<div class="chat-page">
    <div class="chat-page__wrapper">
        {{#> ChatList className="chat-page__list" }}
            {{#each (chat-page-list)}}
                {{> ChatItem }}
            {{/each}}
        {{/ ChatList }}
        <div class="chat-page__chat"></div>
    </div>
    {{> Link page="LoginPage" text="Назад к логину"}}
</div>
