@import '../../assets/variables';

.profile-page {
  &__wrapper {
    min-height: 100vh;
    padding: 60px 0;
    box-sizing: border-box;
    background: $chat-list-bgcolor;
    flex: 1;
  }

  &__name {
    color: $title-color;
    font: $font-title;
    margin: 20px 0;
    height: 16px;
  }

  &__data {
    margin-bottom: 60px;
    width: 100%;
    text-align: center;
  }

  &__input {
    margin-top: 16px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
}
