{{#> Wrapper }}
    <div class="profile-page__data-wrapper">
        {{> Avatar }}
        <div class="profile-page__name">Селестия</div>
        <div class="profile-page__data">
            {{> ProfileField className="login-page__input" title="Почта" name="email" readonly="true" value="celestia@gmail.com" }}
            {{> ProfileField className="login-page__input" title="Логин" name="login" readonly="true" value="celestia" }}
            {{> ProfileField className="login-page__input" title="Имя" name="name" readonly="true" value="Селестия" }}
            {{> ProfileField className="login-page__input" title="Фамилия" name="surname" readonly="true" value="Принцесса" }}
            {{> ProfileField className="login-page__input" title="Имя в чате" name="chat_name" readonly="true" value="Селестия" }}
            {{> ProfileField className="login-page__input" title="Телефон" name="phone" readonly="true" value="+7 909 999 00 90" }}
        </div>
        <div class="profile-page__actions">
            {{> Link text="Изменить данные" page="profile-edit"}}
            {{> Link text="Изменить пароль" page="password-edit"}}
            {{> Link text="Выйти" page="login"}}
        </div>
    </div>
{{/ Wrapper }}
