{{#> Dialog }}
    <form class="registration-page">
        <div class="registration-page__content">
            {{> PageTitle title="Регистрация" }}
            {{> InputField className="login-page__input" title="Почта" name="email" }}
            {{> InputField className="login-page__input" title="Логин" name="login" }}
            {{> InputField className="login-page__input" title="Имя" name="name" }}
            {{> InputField className="login-page__input" title="Фамилия" name="surname" }}
            {{> InputField className="login-page__input" title="Телефон" name="phone" }}
            {{> InputField className="login-page__input" title="Пароль" name="password" type="password" }}
            {{> InputField className="login-page__input" title="Пароль (еще раз)" name="password_confirm" type="password" }}
        </div>
        <div class="registration-page__footer">
            {{> Button text="Зарегистрироваться" page="chat" }}
            {{> Link text="Войти" page="login"}}
        </div>
    </form>
{{/ Dialog }}
