<div class="profile-field{{#if className}} {{ className }}{{/if}}">
    <div class="profile-field__title">{{ title }}</div>
    {{> Input className="profile-field__element" align-right="true" type=type title=title name=name readonly=readonly }}
</div>
