@import '../../assets/variables';

.profile-field {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  width: 100%;

  &__title {
    position: absolute;
    font: $font-regular;
    color: $title-color;
  }

  &__element {
    width: 100%;
  }

  input {
    width: 100%;
    padding-left: 100px;
    font: $font-regular;
    color: $text-light-color;
    text-align: right;
  }

  .input__text-error {
    transform: translateY(2px);
    position: absolute;
    right: 0;
  }
}
