<div class="input-field{{#if className}} {{ className }}{{/if}}">
  <div class="input-field__title">{{ title }}</div>
  {{> Input className="input-field__element" align-right=align-right type=type title=title name=name }}
</div>
