@import '../../assets/variables';

.form {
  background: $dialog-bgcolor;
  box-shadow: $dialog-shadow;
  border-radius: 12px;
  padding: 15px 30px;
  width: 280px;
  margin: 0 auto;

  form {
    display: flex;
    flex-direction: column;
  }
}
