@import '../../assets/variables';

.link {
  font: $font-small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  text-align: center;
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.45s;

  &:hover {
    color: $link-hover-color;
  }
}
